.div2 {
    display: flex;
    flex-wrap: wrap;
}

.div1 {
    max-width: 1170px;
    margin: auto;
}

.footer {
    background-color:hsl(351, 9%, 15%);
    padding: 50px 0;
}
.footer-list {
    list-style: none;
   
}

.footer-list a{
    color: #919294;
    text-decoration: none;
}


.div3 {
    width: 25%;
    padding: 0 15px;
}

.div3 h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
}