@media (max-width: 992px){
    .carousel-nav-center .owl-nav button i {
        font-size: 2rem;
    }
    .padding-right{
        padding: 0 30px;
    }
    .product{
        padding: 120px 8% 0 8%;
    }
    .container-review{
        margin: 50px 10%;
    }
    .padding{
        padding:0 10%;
    }
    .form-control{
        width: 500px;
    }
}

@media (max-width: 768px){
    .container-review{
        margin: 60px 10%;
    }
    .form-control{
        width: 300px;
    }
}

@media (max-width: 576px){
    .carousel-nav-center .owl-nav button i {
        font-size: 2rem;
    }
    .container-review{
        margin: 60px 15%;
    }
    .font-size{
        font-size: 26px;
    }
    .form-control{
        width: 220px;
    }
    .btn-outline-success{
        padding: 0 5px;
    }
    .hero-slide-item img{
        height: 100%;
    }
    .set-btn, .section-header{
        margin-bottom: 20px;
      }
}

@media (max-width: 460px){
    .padding-right{
        padding: 0 5%;
    }
    .product-item{
        text-align: center;
    }
    .movie-infos2{
        justify-content: center;
    }
    .setimg-movie img{
        width: 180px;
    }
    .button-movie1, .button-movie2{
        padding: 8px 15px;
    }
    .container-review{
        margin: 50px 10%;
    }
    p{
        font-size: 14px;
    }
    .font-size{
        font-size: 21px;
    }
    .form-control{
        width: 180px;
    }
    .btn-outline-success{
        padding: 0 3px;
        font-size: 18px;
    }
    .section {
        padding-top: 30px;
      }
    .hero-section {
        margin-bottom: 50px;
      }
      .set-btn, .section-header{
        margin-bottom: 15px;
      }
}