*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    margin-bottom: 5px;
}
ul, li{
    padding-left: unset !important; 
}
img{
    width: 100%;
}
body{
    font-family: var(--bs-font-sans-serif);
}
                /* header */
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #D5262C;
    padding: 8px 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.container-fluid{
   padding: 8px 10%;
}
.banner{
    padding: 78px 0 50px 0;
}
.banner-sp{
    padding: 78px 0 50px 0;
}
.list{
    display: flex;
    margin-bottom: unset;
    padding: unset;
}
.header .logo{
    color: white;
    font-size: 40px;
    padding-bottom: 8px;
    font-weight: 500;
}
.list a{
    color: white;
}
.menu-item a{
    color: black;
}
a{
    text-decoration: none;
    list-style: none;
    color: black;
}
li, ul{
    padding-left: 1rem;
}
.list li{
   padding: 20px;
}
    /* navbar */
.form-control{
    border-radius: 0.25rem 0 0 0.25rem; 
}
.cart-shop{
    color: white;
    padding: 0 20px 0 30px;
    font-size: 18px;
}
.nav-link, .nav-item, .nav-item-tc{
    color: white !important;
    padding:8px 20px;
    transition: 0.2s;
    margin-left: 10px;
    }
.navbar-toggler{
    color: white !important;
    border-color: white !important;
    box-shadow: none !important;
}
.navbar{
    background: #D5262C !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: unset;
}
.navbar-nav{
    margin-left: auto;
}
.nav-link i{
    font-weight: 300;
}
.navbar-brand{
    font-size: 35px !important;
    color: white !important;
    font-weight: 500;
    margin-right: unset;
}
.nav-link:hover{
    color: rgb(255, 255, 255) !important;
    font-weight: 700;
}
.nav-link-tc1:hover{
    color: rgb(255, 255, 255) !important;
    font-weight: 700;
}
.nav-item-tc:hover .dropdown-menu{
    display: block;
}
.dropdown-item{
    padding: 13px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.dropdown-menu{
    padding: unset;
    margin-left: -30px;
    margin-top: 5px;
}
.hov-banner:hover{
    color: #FFFFFF !important;
}
.btn-outline-success{
    color: #fff;
    background-color: #fa7979;
    border-color: #fa7979;
}
.btn-outline-success:hover {
    background-color: #f34b4b;
    border-color: #f34b4b;
}
/* ------------------------------------------------------Trang Chủ------------------------------------------------------------------- */
.swiper-wrapper {
    /* position: relative; */
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
   /* section-1 */
.banner-sec{
    padding: 40px 0 40px 0;
}
.nav-item-tc1{
    display: none;
    padding: 15px 0; 
}
.nav-link-tc1{
    margin-left: 21px;
}
.nav-link-tc1{
    color: white !important;
}
.nav-link-tc2{
    background: #D5262C;
    color: white;
    border: none;
    font-size: 14px;
    padding-left: 20px;
}
.card{
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
.card-text{
    font-size: 18px;
}
.btn{
    border-radius: 0 0.25rem 0.25rem 0;
}
.h2{
    padding: 0 0 5px 0;
}
.card-body{
    background: #FFFFFF;
}
.card-body .para1{
    color: red;
    font-weight: 700;
    font-size: 16px;
}
.card-body .para2{
    color: #707070;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 500;
}
.card-img{
    overflow: hidden;
}
.card-img img{
    transition: 0.5s;
}
.card:hover img{
    transform: scale(1.1);
}
.btn2:hover{
    background-color: rgba(252, 32, 32, 0.8) !important;
}
.btn1:hover{
    background-color: rgb(177, 171, 171) !important;
    color: black;
}
.sec3-card img{
    transition: 0.5s;
}
.sec3-card{
    overflow: hidden;
}
.sec3-tc:hover img{
    transform: scale(1.1);
}
p{
    margin-bottom: 0;
}
.card-text{
    margin-bottom: 15px;
    font-weight: 500;
}
.col-6{
    padding: 10px;
}
.d-flex .btn1{
    font-weight: 500;
    font-size: 14px;
    line-height: 2.2rem;
    border: initial;
    margin-top: initial;
}
.d-flex .btn2{
    font-weight: 500;
    font-size: 14px;
    line-height: 2.2rem;
    border: initial;
    margin-top: initial;
    color: #FFFF;
    background: #ED3131;
}
.btn1{
    background: #C4C4C4;
    color: #000;
}
.btn-xem-them{
    padding: 8px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #000000;
}
.btn-xem-them:hover,.btn-xem-them a:hover{
    background: rgb(216, 10, 10);
    color: white;
    border: 1px solid #000000;
}
.section-3{
    margin-bottom: 20px;
    margin-top: 30px;
}
/* ----------------------------------------------------------Kết Thúc Trang Chủ----------------------------------------------------------- */

/* ------------------------------------------------------------------Giỏ Hàng--------------------------------------------------------------- */
.top-gh{
    padding: 20px 30px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.cart-buy-gh{
    padding: 15px 30px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.cart-gh{
    padding: 15px 30px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
.cart-operation,.cart-operation-1{
    cursor: pointer;
    color: red;
}
.cart-operation i{
    font-size: 25px;
}
.cart-operation-1{
    margin-left: 30px;
}
.cart-price{
    color: red;
}
.clear{
    color: red;
    cursor: pointer;
    padding: 0 0 0 60px;
}
.form-check-input{
    margin-top: 8px;
}
.total-number{
    color: red;
    margin-left: 5px;
}
.tt{
    padding-right: 20px;
}
.buttons-added{
    display: inline-flex;
}
.miu ,.plus ,.input-qty{
    width: 2.5rem !important;
    height: 2rem !important;
    text-align: center;
    border: 1px solid rgb(252, 110, 110);
}
.plus{
    border-radius: 0 4px 4px 0;
    background: #ff6161;
    color: white;
}
.miu{
    border-radius: 4px 0 0 4px;
    background: #ff6161;
    color: white;
}

/* ------------------------------------------------------------------Kết Thúc Giỏ Hàng--------------------------------------------------------------- */

/* ----------------------------------------------------------Sản Phẩm---------------------------------------------------------- */
.banner h2, h1{
    color: white;
}
.div-banner{
    padding: 25px 0;
    background: #423F3F;
}
.banner-sp-1{
    padding: 0 0 50px 0;
}
.div h2{
    margin-bottom: unset;
}
.div a{
    margin-top: 10px;
}
.section-sp{
    margin-bottom: 40px;
}
.section-sp-rp{
    margin-bottom: 40px;
}
.rp-1{
    padding: 10px 0 10px 0;
}
.span-sp{
    margin: 8px;
    color:rgb(108, 117, 125);
}
.star-icon{
    color: #EA9D02;
    font-size: 14px;
}
.danhgiaitem{
    font-size: 14px;
}
.product-reviews .product-reviews-number {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.product-reviews-star{
    padding-right: 10px;
    font-size: 15px;
}
.product-reviews-number{
    padding: 0 10px;
}
.product-reviews-sold{
    padding-left: 10px;
}
.product-details-special-price{
    color: red;
}
.product-details-old-price{
    padding: 0 15px;
    color: #707070;
    text-decoration: line-through;
}
.product-details-reduce {
    color: #FFF;
    background-color: #ff5353;
    border-radius: 4px;
    padding: 2px 4px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 5px;
}
.fa-check-circle {
    color: #48bb78;
    padding-left: 10px;
}
.product-details-promotion-content-text{
    padding-left: 10px;
}
.nav-link-ctsp{
    padding: 10px 20px;
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.product-details-promotion {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 0.4rem;
}
.product-details-promotion-title {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.clearfix .product-details-color .btn-color {
    padding: 10px 10px;
    border: 1px solid #ddd;
    font-weight: 400;
    border-radius: 0.4rem !important;
}
.nav-link-ctsp:hover{
    border-color: #dee2e6 #dee2e6 #fff;
    background: #787373;
    color: white;
}
.btn-check:active+.color-2, .btn-check:checked+.color-2 {
    background-color: #000000;
    color: #FFF;
}
.btn-check:active+.color-1, .btn-check:checked+.color-1 {
    background-color: #57ABF0;
    color: #FFF;
}
.product-intro{
    margin: 50px 0 40px 0;
}
.nav-link-ctsp.active{
    background-color: #fe6767;
    color: white;
}
.list-thongso{
    list-style: square !important;
    padding-left: 20px !important;
}
.list-thongso li{
    padding: 3px 0;
}
.nhanxet{
    margin: 3px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
}
.input-ctsp input{
    margin-bottom: 5px;
        height: 40px;
        padding: 10px;
        border: 1px solid #ddd;
}
.send .star1 {
    margin: 0 15px;
    text-align: center;
    cursor: pointer;
}
.stars-judge{
    margin: 20px 0;
}
.btn-ctsp{
    background: #ff4848;
    color: white;
    padding: 6px 15px;
    border-radius: 5px;
    border: none;
}
.btn-ctsp:hover{
    background: #f71717;
}
.comment-ctsp{
    margin: 30px 0 10px 0;
}
.page-item.active .page-link {
    color: #fff;
    background: #ff3b3b;
    border-color: #ff3b3b;
}
.page-link{
    color: #ff3b3b;
}
.page-link:hover{
    color: white;
    background: #f72a2a;
    border-color: #f72a2a;
}
/* -----------------------------------------------------------Kết Thúc Sản Phẩm------------------------------------------------------- */


/* ---------------------------------------------------------Tin Tức------------------------------------------------------------- */
.news p, h3,.time{
    color: black;
}
.rep-font{
    font-weight: 700;
}
.news1:hover h3{
    color: red;
}
.news:hover h6{
    color: red;
}
.section-tt-1, .section-tt-2{
    padding: 0 30px;
}
.section-tt-2{
    margin-bottom: 60px;
}
.para-tt{
    margin-top: 20px;
}
textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
}
.comment {
    margin-top: 30px;
    margin-bottom: 50px;
}
.content p {
    margin-bottom: 1rem;
}
.posts {
    margin-top: 120px;
}
.post-title ,.title-news{
    font-size: 25px;
}
.title-news{
    margin-bottom: 20px;
}
.img1-intro{
    font-weight: 500;
    font-size: 18px;
}
.img2-intro{
    font-weight: 500;
}
.button-comment{
    width: 100px;
    background-color: #125276;
    border: 0;
    color: white;
    font-weight: 500;
    padding: 5px 10px;
}
.response p {
    color: #125276;
    font-size: 14px;
    margin-right: 10px;
}
.name, .comment-content, .response {
    margin-bottom: 10px;
}
.name {
    color: #125276 !important;
    font-weight: bold;
}
.comments-heading {
    font-size: 20px;
    font-weight: bold;
}
/* ------------------------------------------------------------Kết Thúc Tin Tức--------------------------------------------------------- */

/* ----------------------------------------------------------------Liên Hệ---------------------------------------------------------------- */
.input-w input{
    width: 49%;
    padding: 8px;
}
.text-input {
    height: 8rem;
}
.contact-btn{
    background: #FF5353;
    padding: 6px 30px;
    color: white;
    border-radius: 5px;
    border: none;
}
.contact-btn:hover{
    background-color: rgba(255, 83, 83, 0.8);
}
.icon i{
    color: red;
    padding-right: 8px;
}
.ttdc p{
    font-weight: 700;
    padding-bottom: 3px;
}
.ttdc a{
    padding-bottom: 3px;
}
.map{
    padding: 2rem 0 5%;
}
iframe {
    width: 100%;
    height: 35rem;
}

/* ----------------------------------------------------------------Kết Thúc Liên Hệ-------------------------------------------------------- */

/* ------------------------------------------------------Thanh Toán------------------------------------------------------------ */
.list-group-item {
    border: none;
}
.box-cart{
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
.text-sum{
    color: red;
}
.sum{
    font-size: 21px;
    font-weight: 700;
}
.form-check-1{
    border: 1px solid #ddd;
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    margin-right: 5%;
    margin-bottom: 10px;
}
.form-check-2{
    margin-bottom: 5px;
}
.form-check-input{
    margin: 5px 8px 0 0;
}
/* ------------------------------------------------------Kết Thúc Thanh Toán------------------------------------------------------------ */

    /* footer*/
.footer1{
    background: #383838;
    padding: 30px 0;
}
.footer1 .h2-footer{
    font-size: 30px;
    line-height: 35px;
    color: white;
}
.footer1 .para{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
}
.footer1 input{
    width: 400px;
    padding: 10px 0;
}
.footer1 button{
    padding: 10px 25px;
    background: #D73939;
    color: white;
}
.footer1 .h2, .para{
    color: white;
}
.footer2{
    background: #1f1f1f;
    padding: 60px 100px;
    margin: unset;
}
.footer2 h3{
    color: white;
}
.footer2 a{
    color: #919294;
}
.footer2 p{
    color: #919294;
}
.footer3{
    padding: 6px;
    background: #050505;
    color: white;
}
footer a:hover{
    color: white;
}
.network{
    margin-top: 15px;
}
.facebook {
    font-size: 30px;
    margin-right: 10px;
    border-radius: 50%;
    color: white;
    background: #385898;
    padding: 5px 11px;
}
.twitter{
    font-size: 30px;
    margin-right: 10px;
    border-radius: 50%;
    color: white;
    background: rgba(29,161,242,1.00);
    padding: 5px 5px;
}
.youtube{
    font-size: 30px;
    margin-right: 10px;
    border-radius: 50%;
    color: white;
    background: red;
    padding: 5px 3px;
}
/* back to top */
.scroll {
    position: fixed;
    cursor: pointer;
    bottom: 2rem;
    right: 15px;
    width: 45px;
    height: 45px;
    background-color: #ed4f4f;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.set-mg-sp1{
    margin-right: 17px;
}
.set-mb-sp{
    margin-left: 15px;
}
.avartar{
    width: 8%;
    padding-right: 15px;
}
.cart-shop span{
    transform: translate(-30%,-70%);
    background: red;
    border-radius: 50%;
    font-size: 12px;
}
/* --------------------------------------slice-slider-set-------------------------------------------- */
.slider-ctsp-1 button{
    display: none !important;
}
.slice-slider-ctsp1{
    margin-bottom: 15px;
}
.item-slice-ctsp{
    padding: unset;
    cursor: pointer;
}
.slick-prev, .slick-next, .slick-prev-1, .slick-next-1{
    position: absolute;
    padding: 6px 14px;
    border: none;
    background: #e72f40;
    color: white;
    border-radius: 50%;
}
.slick-prev{
    bottom: 45%;
    z-index: 999;
    left: 10px;
}
.slick-next{
    right: 10px;
    top: 45%
}
.slick-next:hover{
    background: #f71b2f;
}
.slick-prev:hover{
    background: #f71b2f;
}
.slice-slider-ctsp2 button{
    display: none !important;
}
.item-slice-ctsp:hover img{
    transform: scale(1.1);
}

.slick-next-1:hover{
    background: #f71b2f;
}
.slick-prev-1:hover{
    background: #f71b2f;
}
.slick-prev-1{
    bottom: 45%;
    z-index: 999;
    left: 10px;
}
.slick-next-1{
    right: 10px;
    top: 47%
}

