body {
  font-family: Roboto, sans-serif;
  background-color: gray;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}
h1 {
  color: black;
  font-size: 50px;
  text-align: center;
}
a {
  text-decoration: none;
}
.list-item {
  display: flex;
  flex-wrap: wrap;
}
.item-top,
.item-center,
.item-bottom {
  background-color: white;
  font-size: 20px;
}
.item-center {
  background-color: white;
  padding: 10px 25px 20px 25px;
}
.item-bottom {
  padding: 10px 25px 20px 25px;
  display: flex;
  justify-content: space-between;
}
img {
  max-width: 100%;
  /* height: 211px; */
  display: block;
}

.item {
  background-color: white;
  max-width: 31%;
  transition: 0.3s;
  box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
  -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
  margin: 0px 10px 30px 10px;
}
.item:hover {
  transform: scale(1.1);
}
.color-p {
  color: #464646;
}
.color-span1 {
  color: red;
}
.color-span2 {
  color: #757575;
  text-decoration: line-through;
}

@media (max-width: 500px) {
  .item {
    max-width: none;
  }
}
@media (max-width: 920px) {
  .list-item {
    justify-content: center;
  }
}
